params{
    fasta = "${projectDir}/input/TriTrypDB-64_TbruceiLister427_2018_Genome.fasta"
    input = "${projectDir}/samplesheet.csv"
}

wave {
    enabled = true
    strategy = ['conda']
    freeze = true
}
profiles {
    standard {
        process.executor = 'local'
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
        process {
            cpus = 1
            memory = 4.GB
        }
    }
}