params{
    fasta = "${projectDir}/input/TriTrypDB-64_TbruceiLister427_2018_Genome.fasta"
    input = "${projectDir}/samplesheet.csv"
}
/*
wave {
    enabled = true
    strategy = ['conda']
    freeze = true
}
*/
profiles {
    /*
    mac {
        process.executor = 'local'
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
        process {
            withLabel: 'process_low' {
                cpus = 1
                memory = 2.GB
                time = '1h'
            }
            withLabel: 'process_medium' {
                cpus = 1
                memory = 2.GB
                time = '1h'
            }
            withLabel: 'process_high' {
                cpus = 1
                memory = 2.GB
                time = '1h'
            }
        }
    }
    */

    standard {
        process{
            executor = 'slurm'
            queue = 'cascade'
            // clusterOptions = '--account=gfirth'
        }

        executor {
            queueSize = 25  // Maximum number of jobs in queue
            submitRateLimit = '10/1min'  // Submit max 10 jobs per minute
            pollInterval = '60s'  // Check job status every 30 seconds
        }
        docker.enabled = false
        singularity.enabled = false
        apptainer.enabled = false
        conda.enabled = true
        conda.mamba = true
        process {
            withLabel: 'process_low' {
                cpus = 1
                memory = 4.GB
                time = '2h'
            }
            withLabel: 'process_medium_mem' {
                cpus = 1
                memory = 8.GB
                time = '2h'
            }
            withLabel: 'process_medium_cpu' {
                cpus = 6
                memory = 8.GB
                time = '6h'
            }
            withLabel: 'process_high_cpu' {
                cpus = 12
                memory = 4.GB
                time = '6h'
            }
            withLabel: 'process_high_mem' {
                cpus = 2
                memory = 36.GB
                time = '6h'
            }
        }
    }
}